{% load static %}
<!doctype html>
<html class="no-js'" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>News HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'aznews/img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'aznews/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'aznews/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'aznews/css/ticker-style.css' %}">
    <link rel="stylesheet" href="{% static 'aznews/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'aznews/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'aznews/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'aznews/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'aznews/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'aznews/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'aznews/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'aznews/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'aznews/css/style.css' %}">

</head>

<body>

    {% include "aznews/header.html" %}

    {% block content %}

    {% endblock content %}

    {% include "aznews/footer.html" %}

    <!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="{% static 'aznews/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'aznews/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'aznews/js/popper.min.js' %}"></script>
    <script src="{% static 'aznews/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'aznews/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'aznews/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'aznews/js/slick.min.js' %}"></script>
    <!-- Date Picker -->
    <script src="{% static 'aznews/js/gijgo.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'aznews/js/wow.min.js' %}"></script>
    <script src="{% static 'aznews/js/animated.headline.js' %}"></script>
    <script src="{% static 'aznews/js/jquery.magnific-popup.js' %}"></script>

    <!-- Breaking New Pluging -->
    <script src="{% static 'aznews/js/jquery.ticker.js' %}"></script>
    <script src="{% static 'aznews/js/site.js' %}"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="{% static 'aznews/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'aznews/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'aznews/js/jquery.sticky.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'aznews/js/contact.js' %}"></script>
    <script src="{% static 'aznews/js/jquery.form.js' %}"></script>
    <script src="{% static 'aznews/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'aznews/js/mail-script.js' %}"></script>
    <script src="{% static 'aznews/js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'aznews/js/plugins.js' %}"></script>
    <script src="{% static 'aznews/js/main.js' %}"></script>

    <script>
    $(".pagination_number").click(function(e) {
        e.preventDefault();
        let current_url = window.location.href.split('?')[0];
        let params = new URL(document.location).searchParams;
        let query = params.get("query");
        let href = $(this).attr('href');
        let new_url = `${current_url}${href}?page=2&query=${query}`;
        window.location.replace(new_url);
    });
    </script>

    <script>
        $("#newsletter_side_form").submit(function(e) {
            e.preventDefault();
            let serializedData = $(this).serialize()

            $.ajax({
                type: "POST",
                url: "{% url 'newsletter' %}",
                data: serializedData,
                success: function(response){
                    console.log("error", response)
                },
                
                error: function(response) {
                    console.log("error", response)
                }
            })
        })
    </script>


</body>

</html>